/* --- SIDEBAR MODERNO --- */
.sidebar {
  width: 250px;
  height: 100vh;
  background: linear-gradient(#f7dca1, #f2c786);
  padding: 25px 20px;
  border-right: 3px solid #c0852b;
  display: flex;
  flex-direction: column;
}

/* Logo */
.logo {
  text-align: center;
  margin-bottom: 35px;
}

.logo h2 {
  color: #7a3b06;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 3px;
}

.logo span {
  font-size: 13px;
  color: #6d4611;
  opacity: 0.9;
}

/* Menu */
.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Item */
.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  color: #6b4505;
  transition: 0.25s;
  background: transparent;
}

.menu-item:hover {
  background: #c0852b;
  color: white;
  transform: translateX(4px);
}

/* Activo */
.menu-item.active {
  background: #c0852b;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

/* Iconos */
.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
